################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/zlib
/cmake/Modules
/build*
/build_output.log
/lua5.1
/.vs
/CMakeSettings.json
/_deps
# Plan 13 benchmark output (generated; baselines live in tests/bench/baselines/)
bench-results.json
